*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}
body{
    background: #1A0B2E;
}
header{
    width: 100%;
    margin: 0 auto;
    padding: 16px 200px;
}

nav,ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-logo h1{
    color: #fff;
    font-size: 3rem;
    font-weight: 800;
    cursor: pointer;

}
.linear {
  background: linear-gradient(
    90deg,
    rgba(255, 106, 162, 1) 0%,
    rgba(196, 75, 255, 1) 45%,
    rgba(109, 40, 255, 1) 100%
  );

  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.nav-logo h1:hover{
    color: antiquewhite;

}


ul,a{
    list-style: none;
    gap: 32px;
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
}

button{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 12px 16px;
    font-size: 1rem;
    font-weight: 600;
    color: #fff;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    background: linear-gradient(
    90deg,
    rgb(252, 75, 104) 0%,
    rgb(171, 28, 242) 45%,
    rgb(152, 107, 249) 100%
  );

}

.humburger-icon{
    display: none;
}


 