*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}
body{
    background: #1A0B2E;
}
header{
    width: 100%;
    margin: 0 auto;
    padding: 16px 200px;
}

nav,ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-logo h1{
    color: #fff;
    font-size: 3rem;
    font-weight: 800;
    cursor: pointer;

}
.linear {
  background: linear-gradient(
    90deg,
    rgba(255, 106, 162, 1) 0%,
    rgba(196, 75, 255, 1) 45%,
    rgba(109, 40, 255, 1) 100%
  );

  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.nav-logo h1:hover{
    color: antiquewhite;

}


ul,a{
    list-style: none;
    gap: 32px;
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
}

.primary-btn{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 12px 16px;
    font-size: 1rem;
    font-weight: 600;
    color: #fff;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    background: linear-gradient(
    90deg,
    rgb(252, 75, 104) 0%,
    rgb(171, 28, 242) 45%,
    rgb(152, 107, 249) 100%
  );

}

.humburger-icon{
    display: none;
    cursor: pointer;
}

#hero{
    max-width: 1600px;
    min-height: 760px;
    margin: 0 auto;
    background: url(assets/hero-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

#hero .hero-container{
    width: 550px;
    height: 558px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.hero-img{
    width: 350px;
    height: 350px;
    position: relative;
}

.circle{
    width: 100%;
    height: 100%;
}

.micro-phone{
    width: 200px;
    height: 200px;
    position: absolute;
    top: 52%;
    left: 60%;
    transform: translate(-50%, -50%);
}

.micro-phone img{
    width: 116px;
    height: 175px;
}

.badge{
    position: absolute;
    padding: 8px 16px;
    background: #00FF88;
    border-radius: 30px;
    font-size: 1.1rem;
    font-weight: 600;
    top: 10px;
    left: 70%;
}

.hero-content{
    text-align: center;
    color: #fff;
    margin-top: 40px;
}

.hero-content h1{
    font-size: 3.75rem;
    margin-bottom: 8px;
}

.hero-content p{
    font-size: 1rem;
    font-weight: 200;
    margin-bottom: 20px;

}
.btn{
    display: flex;
    justify-content: center;
    gap: 8px;
}

.primary-btn .spotify-icon{
    background: transparent;
    border: 1px solid #fff;
    border-radius: 50%;
}
.hero-content .subscribe-btn{
    padding: 12px 20px;
    border-radius: 30px;
    background: transparent;
    color: #fff;
    border: 1px solid #00FF88;
    display: inline-flex;
    gap: 8px;
    font-size: 1rem;
    font-weight: 500;

}
.subscribe-icon{
    width: 20px;
    height: 20px;
}
@media screen and (max-width: 576px){
    header{
        padding: 16px 20px;
    }
    ul{
        display: none;
    }
    .nav-btn{
        display: none;
    }
    .humburger-icon{
        display: block;
    }

}